<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logger" type="Youzee.Util.Logger.LoggerSection, Youzee.Util.Logger"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Youzee.Util.Logger" />
    <assembly name="Youzee.Util.Logger" />

    <container name="insider">
      <register type="LogWriter" mapTo="EventLogWriter"/>
      <register type="LoggerConfiguration" mapTo="FileLoggerConfiguration"/>
      <register type="Logger">
        <constructor>
          <param name="logWriter" type="LogWriter"/>
          <param name="loggerConfiguration" type="LoggerConfiguration" />
        </constructor>
      </register>
    </container>
  </unity>

  <logger>
    <log level="*" filePath="C:/test.txt"/>
  </logger>
</configuration>